body {
    font-family: 'Open Sans', sans-serif;
}

.welcome-section {
    height: 700px;
    background-image: url(img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* position: relative; */
}

.transparent {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
}

.transparent h1 {
    text-align: center;
    line-height: 700px;
    color: #fff;
    font-size: 52px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

header {
    box-sizing: border-box;
    height: 80px;
    width: 100%;
    background-color: #000;
    padding: 30px;
    font-family: 'Oswald', sans-serif;
    position: sticky;
    top: 0;
}

header li {
    color: #fff;
    font-size: 20px;
    display: inline;
}

header li i {
    margin: 0 20px;
    font-size: 24px;
}

header li a {
    float: right;
    margin: 0 20px;
    letter-spacing: 2px;
    color: #fff;
    text-decoration: none;
}

header li a:hover {
    text-decoration: underline;
}

header li .fa-bars {
    display: none;
}

.section-about {
    /* border: 1px solid black; */
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 40px;
}

.introduction {
    grid-column: 2/3;
    place-self: center;
}

.education {
    grid-column: 1/2;
    grid-row: 2/3;
    place-self: center end;
}

.working {
    grid-column: 3/4;
    grid-row: -1/-2;
    place-self: center start;
}

.introduction,
.education,
.working {
    /* border: 1px solid black; */
    box-sizing: border-box;
    width: 400px;
    height: 250px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.introduction .fas {
    text-shadow: 0 0 50px rgb(216, 127, 43);
}

.education .fas {
    text-shadow: 0 0 50px rgb(0, 71, 163);
}

.working .far {
    text-shadow: 0 0 50px rgb(3, 139, 44);
}

.introduction i,
.education i,
.working i {
    font-size: 48px;
}

.introduction .text,
.education .text,
.working .text {
    text-align: center;
    line-height: 22px;
    letter-spacing: 1px;
}

/* .section-project {
    border: 1px solid black;
} */

.section-project h1 {
    font-size: 34px;
    font-family: 'Oswald', sans-serif;
    text-decoration: underline;
    text-align: center;
    text-shadow: 0 0 50px #111;
}

.project-wrapper {
    margin: 50px 0 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.codejar,
.travego {
    box-shadow: 0 0 10px #000;
    width: 500px;
    height: 350px;
    overflow: scroll;
}

.contact-wrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

main h1 {
    font-size: 34px;
    font-family: 'Oswald', sans-serif;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 50px;
    text-shadow: 0 0 50px #111;
}

.form,
.contact {
    box-sizing: border-box;
    /* border: 1px solid black; */
    width: 500px;
    height: 350px;
    padding: 0 100px;
}

.form p {
    letter-spacing: 1px;
    margin: 10px 0;
}

.form input {
    padding: 5px;
    width: 300px;
}

.form textarea {
    width: 310px;
    height: 100px;
}

.form button {
    margin: 15px 0;
    width: 320px;
    height: 40px;
    padding: 5px;
    color: #fff;
    font-family: 'Open Sans';
    background-color: #008000;
    outline: none;
    border: none;
}

.form button:active {
    color: #000;
    background-color: #59eb59;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sub-contact {
    /* border: 1px solid black; */
    width: 300px;
    height: 60px;
    display: flex;
    align-items: center;
}

.sub-contact .icon {
    /* border: 1px solid black; */
    width: 30%;
    text-align: center;
    font-size: 42px;
}

.sub-contact .text {
    width: 70%;
}

.mail {
    color: #c5221f;
}

.telegram {
    color: #36aee2;
}

.linkedin {
    color: #0077b5;
}

footer {
    box-sizing: border-box;
    margin-top: 80px;
    height: 80px;
    width: 100%;
    background-color: #000;
    padding: 30px;
    font-family: 'Oswald', sans-serif;
}

footer p {
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
}